// .header__burger-menu {
//   /*     position: fixed; */
//   position: relative;
//   top: 5px;
//   right: 32px;
//   padding: 4px 5px 4px 0;
//   display: flex;
//   width: 136px;
//   height: 54px;
//   background: #b8b8d4;
//   border: 2px solid transparent;
//   border-radius: 40px;
//   justify-content: space-between;
//   align-items: center;
//   cursor: pointer;
//   transition: all .2s ease-out;

//   /*     transform: translateX(0); */
//   &.is-active {
//     width: 280px;
//   }
// }

.burger-menu__button-wrapper {
  display: flex;
  background: hsla(0, 0%, 100%, 1);
  border-radius: 50%;
  height: 46px;
  width: 46px;
  align-items: center;
  justify-content: center;
}

.burger-menu__button {
  /*   position: fixed; */
  position: relative;

  /*   top: 20px; */

  /*   left: 20px; */
  width: 40px;
  height: 22px;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: 0;
  cursor: pointer;
  z-index: 10;

  span {
    position: absolute;
    left: 50%;
    width: 26px;
    height: 2px;
    background-color: blue;

    &:nth-child(1) {
      top: 2px;
      transform: translateX(-50%) translateY(0);
      transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    }

    &:nth-child(2) {
      top: 10px;
      opacity: 1;
      transform: translateX(-50%);
    }

    &:last-child {
      top: 18px;
      transform: translateX(-50%) translateY(0);
      transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s, transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87);
    }
  }
}

.burger-menu__button.open {
  span {
    &:nth-child(1) {
      top: 50%;
      transform: translateX(-50%) translateY(0) rotate(45deg);
      transition: top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
    }

    &:nth-child(2) {
      opacity: 0;
    }

    &:last-child {
      top: 50%;
      transform: translateX(-50%) translateY(0) rotate(-45deg);
      transition: bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87), transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
    }
  }
}


.burger-menu__nav {
  position: fixed;
  margin: 10px 30px 0;
  top: 85px;
  right: 0;
  /*   height: 100vh; */
  padding: 50px;
  border-radius: 12px;
  background-color: #e9e9e9;
  transform: translateX(130%);
  transition: all 0.2s ease-out;

  ul {
    list-style-type: none;
    text-align: right;
  }

  li {
    padding: 12px 0;
  }

  a {
    position: relative;
    text-decoration: none;
    color: #000000;
  }
}

.burger-menu__nav.open {
  transform: translateX(0);
}
