// button default
.button {
  @include disabled;
  font-family: $manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin: 0;
  // letter-spacing: 0.2px;
  color: $base-primery;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: $trans-default;
  text-transform: uppercase;

  &:hover,
  &:focus-visible {
    color: $base-white;
    background: $base-primery;
    outline: unset;

    .button-icon-wrapper {
      background-color: $base-white;
    }
  }

  &:active {
    background-color: $base-primery;
    color: $color-text-link;
  }

  &:disabled {
    color: $color-disabled;
    pointer-events: none;
    cursor: default;
    background: transparent;
    border: 1px solid $color-disabled;

    .button-icon-wrapper {
      background-color: $color-disabled;
    }
  }

  .button-icon-wrapper {
    background-color: $base-primery;
  }
}

.button.is-active {
  color: $base-white;
  background: $base-primery;

  .button-icon-wrapper {
    background: $base-white;
  }

  &:hover {
    color: $base-primery;
    background: $base-white;
    outline: unset;

    .button-icon-wrapper {
      background-color: $base-primery;
    }
  }

  &:focus-visible {
    color: $base-primery;
    background: $base-white;
    outline: unset;

    .button-icon-wrapper {
      background-color: $base-primery;
    }
  }

  &:active {
    background-color: $base-white;
    color: $color-active-bg-blue;

    .button-icon-wrapper {
      background-color: $base-primery;
    }
  }

  &:disabled {
    color: $color-disabled;
    pointer-events: none;
    cursor: default;
    border: 1px solid $color-disabled;
    background: $base-primery;

    .button-icon-wrapper {
      background: $color-disabled;
    }
  }
}

// button details
.button-details {
  background: transparent;
  border: 1px solid $base-primery;
  border-radius: 40px;
  z-index: 5;

  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.3px;

  .button-details-icon {
    color: $base-white;
    transition: $trans-default;
  }

  &:hover,
  &:focus-visible {
    .button-details-icon-wrapper {
      background: $base-white;
    }

    .button-details-icon {
      color: $base-primery;
      transform: rotate(45deg);
    }
  }

  &:active {
    .button-details-icon {
      color: $color-active-bg-blue;
    }
  }

  &:disabled {
    .button-details-icon-wrapper {
      background: $color-disabled;
      opacity: 0.8;
    }
  }
}

.button-details-icon-wrapper {
  display: flex;
  background: $base-primery;
  border-radius: 50%;
  height: 34px;
  width: 34px;
  align-items: center;
  justify-content: center;

  @include vp-768 {
    height: 46px;
    width: 46px;
  }
}
