.button {
  @include disabled;

  font-family: $manrope;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  margin: 0;
  letter-spacing: 0.2px;
  color: $base-primery;

  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  cursor: pointer;
  transition: $trans-default;

  &:hover,
  &:focus-visible {
    color: $base-white;
    background: $base-primery;
    outline: unset;
  }

  &:active {
    background-color: $base-primery;
    // color: $base-white;
    opacity: 0.8;
  }

  &:disabled {
    color: $color-disabled;
    pointer-events: none;
    cursor: default;
    background: transparent;
    border: 1px solid $color-disabled;
  }
}

.button.is-active {
  width: 290px;
  color: $base-white;
  background: $base-primery;

  &:hover {
    color: $base-primery;
    background: $base-white;
    outline: unset;
  }

  &:focus-visible {
    color: $base-primery;
    background: $base-white;
    outline: unset;
  }

  &:active {
    background-color: $base-white;
    color: $base-primery;
    opacity: 0.8;
  }

  &:disabled {
    color: $color-disabled;
    pointer-events: none;
    cursor: default;
    border: 1px solid $color-disabled;
    background: $base-primery;
  }
}
