.header {
  width: 100%;
  padding-top: 20px;
  position: absolute;
  display: flex;
  justify-content: space-between;
}

.header__logo-wrapper {
  z-index: 5;
}

.header__menu-button {
  position: absolute;
  top: 19px;
  right: 15px;
  padding: 2px 4px 3px 20px;
  width: 136px;
  height: 54px;
  background: $base-white;
  border: 1px solid $base-primery;
  border-radius: 40px;
  z-index: 5;

  @include vp-768 {
    right: 45px;
  }

  @include vp-1440 {
    right: 120px;
  }

  &:hover,
  &:focus-visible {
    .header__menu span {
      background: $base-primery;
    }
  }

  &:disabled {
    .header__menu {
      opacity: 0.8;
    }
  }
}

/* Active button*/
.header__menu-button.is-active {
  width: 290px;

  .header__menu-title {
    color: $base-white;
  }

  .header__menu span {
    background-color: $base-primery;
  }

  &:hover {
    .header__menu span {
      background-color: $base-white;
    }
  }

  &:focus-visible {

    .header__menu span {
      background-color: $base-white;
    }
  }

  &:active {

    .header__menu span {
      background-color: $base-white;
    }
  }

  &:disabled {

    .header__menu span {
      background-color: $base-white;
      opacity: 0.8;
    }
  }
}

.header__menu-wrapper {
  display: flex;
  background: $base-primery;
  border-radius: 50%;
  height: 46px;
  width: 46px;
  align-items: center;
  justify-content: center;
}

.header__menu {
  position: relative;
  width: 40px;
  height: 22px;
  background: transparent;
  box-shadow: none;
  border: none;
  outline: 0;
  cursor: pointer;
  z-index: 10;

  span {
    position: absolute;
    left: 50%;
    width: 15px;
    height: 1px;
    background-color: $base-white;

    &:nth-child(1) {
      @include trans-burger-close;

      top: 6px;
    }

    &:nth-child(2) {
      top: 10px;
      opacity: 1;
      transform: translateX(-50%);
    }

    &:last-child {
      @include trans-burger-close;

      top: 14px;
    }
  }
}

.header__menu.open {
  span {
    &:nth-child(1) {
      top: 50%;
      width: 20px;
      transform: translateX(-50%) translateY(0) rotate(45deg);
      transition:
        top 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
        transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
    }

    &:nth-child(2) {
      visibility: hidden;
    }

    &:last-child {
      top: 50%;
      width: 20px;
      transform: translateX(-50%) translateY(0) rotate(-45deg);
      transition:
        bottom 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87),
        transform 0.3s cubic-bezier(0.21, 0.83, 0.26, 0.87) 0.3s;
    }
  }
}

/* Navigation menu*/
.header__nav {
  position: fixed;
  top: 78px;
  right: 15px;
  width: 290px;
  max-height: 100vh;
  padding: 33px 25px;
  border-radius: 15px;
  background-color: $base-primery;
  transform: translateX(150%);
  transition: $trans-default;
  z-index: 5;

  @include vp-768 {
    right: 45px;
  }

  @include vp-1440 {
    right: 120px;
  }
}

.header__nav.open {
  position: absolute;
  overflow-y: auto;
  transform: translateX(0);
}

.header__nav-list,
.header__nav-submenu-list {
  @include list-reset;
  margin: 0;
  text-align: left;
}

.header__nav-submenu-list {
  display: none;
  padding: 16px 0 0 16px;
}

.header__nav-submenu-list.open {
  transition: $trans-default;
  display: block;
}

.header__nav-item {
  margin-bottom: 24px;

  &:last-child {
    margin: 0;
  }
}

.header__nav-submenu-item {
  margin-bottom: 12px;

  &:last-child {
    margin: 0;
  }
}

.header__nav-link {
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;
}

.header__nav-link,
.header__nav-submenu-link {
  color: $color-text-link;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  display: flex;
  // letter-spacing: 2px;
  text-align: left;
  text-transform: uppercase;

  &:hover,
  &:active {
    color: $base-white;
  }

  &:focus {
    color: $base-white;
    outline: unset;
  }
}


.header__nav-submenu-link {
  font-weight: 400;
  text-transform: unset;
}


.header__nav-link-icon {
  margin-left: 10px;
  transition: transform 0.1s linear;
  stroke: $color-text-link;

  &:hover,
  &:active {
    color: $base-white;
  }

  &:focus {
    color: $base-white;
    outline: unset;
  }
}

.header__nav-link[aria-expanded="true"] .header__nav-link-icon {
  transform: rotate(180deg);
  transition: transform 0.1s linear;
}
