*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

html {
  font-family: $montserrat;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: $base-primery;
}

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  min-width: $vp-320;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
  border-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Does disabled for links  */
.disabled {
  pointer-events: none;
  cursor: default;
  color: $color-disabled;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
