//  Fonts
$manrope: "Manrope", "Arial", sans-serif;

// Base colors
$base-primery: #316dc2;
$base-white: rgb(255, 255, 255);
$base-bg-main: #f0efe9;
$base-additional-opacity: rgba(2, 102, 193, 0.1);
$base-black: rgb(0, 0, 0);

// Other colors
$color-text: #484848;
$color-overlay: rgba(13, 29, 51, 0.4);
$color-text-link: #c1d3ed;
$color-error: #ff5e66;
$color-active: #275699;
$color-disabled: #a9afb7;
$color-bg-ok: #ff9800;
$color-bg-reddit: #ff5722;

// overlay colors
$color-grey-blue: rgba(49, 109, 194, 0.2);
$color-light-grey: rgba(13, 29, 51, 0.4);
$color-dark-blue: rgba(49, 109, 194, 0.2);

// Animation
$tf-default: ease-in-out;
$trans-default: all 0.2s $tf-default;
$border-width: 2px solid;

// Width-Viewports
$vp-320: 320px;
$vp-767: 767px;
$vp-768: 768px;
$vp-1439: 1439px;
$vp-1440: 1440px;
